SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [examples].[Categories](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](15) NOT NULL,
	[Description] [ntext] NULL,
	[Picture] [image] NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)
)
GO
SET IDENTITY_INSERT [examples].[Categories] ON 

SET IDENTITY_INSERT [examples].[Categories] OFF
GO
SET ANSI_PADDING ON
GO
CREATE NONCLUSTERED INDEX [CategoryName] ON [examples].[Categories] ([CategoryName] ASC )
GO
